h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
    text-align: center;
}

ul {
    background-color: palegoldenrod;
    text-decoration: underline;
}

.backgroundcolor {
    background-color: palegreen;
}

p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    line-height: 50px;
    text-align: justify;
}

body {
    font-size: 16px;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: maroon;
}